*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

html, body {
    overflow-x:hidden;
}

body { margin:0; }

html {
  font-size:10px;
}

body {
    color:#55595D;
    font-family: 'Lato', 'Raleway', 'Varela Round','Nunito' sans-serif;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-weight:200;
    margin:auto;
}

h2 {
    font-size: 3.5rem;
    font-weight:400;
    margin:auto;
    padding-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    font-weight:300;
    width:50%;
    margin:auto;
    border-bottom-style: solid;
    padding-bottom:20px;
    padding-top:30px;
}

h4 {
    font-size: 1.6rem;
    font-weight:300;
    width:80%;
    margin:auto;
}

h5 {
  font-weight:300;
  font-size:2rem;
  padding-top:5rem;
  margin: 0 auto;
  width:50%;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  width:50%!important;
  margin:auto!important;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight:400;
    width:50%!important;
    margin:auto!important;
    text-align:left;
}

@media (max-width: 767px) {
  p {
    width:90%!important;
    font-size:1.8rem!important;
  }
}

a {
  font-size:1.6rem;
  line-height: 1.5;
  font-weight:300;
  color:#55595D;
}

ul li, ol li {
    font-size: 2rem;
    line-height: 1.5;
    font-weight:400;
    text-align: left;
}

/* ------------------------------------------------
-------------------------- Nav -----------
----------------------------------------------------*/

.fa {
  color: #fff;
  font-size: 3rem;
  display: block;
}

html {
  font-size: 10px;
}

nav {
  background-color:#FFF;
  display: flex;
  font-family: 'raleway', sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav img {
  width: 60px;
}

li.left {
  padding: 1.5rem 0 1rem 3rem;
  display: block;
  float: right;
}

li {
  display: none;
}

ul {
  margin-bottom:0 !important;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.links a{
Transition:all 0.25s linear;
}

.right a {
  color: #55595D;
  background-color: #FFF;
  display: block;
  font-size: 2rem;
  padding: 1.5rem;
  text-decoration: none;
}

.right a:hover {
  background-color: #24C5CB;
  color: #55595D;
}

.fa {
  padding: 2.8rem;
  color: #55595D;
  float: right;
}

.visible {
  display: block;
  transform: scale(1);
  transition: flex 0.3s ease-out;
  z-index: 1;
}

div.mobile {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  text-decoration: none;
}

.navprojectlinks a:hover {
  color: #ED7940;
}

@media (min-width: 767px) {

  nav {
    width: 100%;
    display: flex;
  }

  .logo {
    max-width: 20rem;
  }

  .push {
    margin-left: auto;
  }

  ul.links {
    flex-direction: row;
    margin-right:3rem;
  }

  ul {
    margin-bottom:0!important;
  }

  li {
    display: block;
  }

  .right a {
    background-color: #FFF;
    color: #55595D;
    display: block;
    font-size: 1.7rem;
    padding: 3rem 1rem 3rem 1rem;
    text-decoration: none;
  }

  .right a:hover {
    background-color: #86E3E6;
    padding: 3rem 1rem 3rem 1rem;
    color: #55595D;
  }

  .fa {
    display: none !important;
  }

}

/* ------------------------------------------------
-------------------------- Footer -----------
----------------------------------------------------*/

.footer a {
  padding-top:50px;
  text-decoration: none;
  font-family: raleway, sans-serif;
}

.footer a:hover {
 color: #24C5CB;
 text-decoration: none;
}

.footer h4:hover {
 color: #55595D;
 text-decoration: none;
}

.footer{
  background: white;
  align-items: center;
}

.footer h4 {
  padding-top: 5rem;
  font-family: raleway, sans-serif;
}

.footer ul{
        padding-bottom: 2rem;
    }

.footer ul > li {
      padding-top:2rem;
        display: inline-block;
        margin: 0 50px;
    }

.footer p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.7rem;
  text-align: center;
  color:white;
  background-color: #24C5CB;
  width: 100%!important;
    }

@media (min-width:300px) and (max-width: 575px) {
.footer ul{
  display:inline-block;
  padding-top:1rem;
  font-size:1.8rem;
}

.footer ul > li {
    padding-top: 2rem;
    display: inline-block;
    margin: 0 10px !important;
  }
}

.bio-footer {
  background:#EAEDEF;
}

.footer-section-bio p {
  padding-bottom:1%;
  padding-top:3rem;
}

.footer-text {
  margin: 0 auto;
  width: 50%!important;
  padding-top:2rem;
}

/*--Form--*/

.contact-heading{
  margin-top:7rem;
}

*:focus {
  outline: 0;
}

.wrapper {
  margin: 40px auto 0;
  width: 70%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  margin: 0;
}

form * {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-weight: 300;
  text-decoration: none;
  border-radius: 10px;
}

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #47E3E6, #22C3C9);
  width: 100%;
  height: 64px;
  transition: width 333ms ease-in-out;
  text-align: center;
  padding: 18px 0;
}

form .field input[type="text"],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 19.5%;
  background-color: #dadada;
  color:#55595D;
}

form #msg {
  height: 64px;
  resize: none;
  transition: all 333ms ease-in-out;
  padding-top: 18px;
}
form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 166px;
}
form input[type="text"]:focus + label,
form input[type="text"]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 18%;
}
form input[type="submit"] {
  background: linear-gradient(90deg, #47E3E6, #22C3C9);
  -webkit-appearance: none;
  border: none;
  position: relative;
  padding: 13px 50px;
  transition: all 0.3s ease-in-out;
  color:#55595D;
  margin-bottom:10rem;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background:#47E3E6;
  color:white;
}
