
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

.container-fluid {
 padding: 0;
}

h1, h2, h3, h4 {
    color:#55595D;
    font-family: 'Lato', 'Raleway', 'Varela Round','Nunito' sans-serif;
    font-weight: 200px;
    letter-spacing: 2px;
    line-height: 36px;
    text-align: center;
}

body {
    color:#55595D;
    font-family: 'Lato', 'Raleway', 'Varela Round','Nunito' sans-serif;
    font-weight: 200px;
    text-align: center;
}

h1 {
    font-size: 64px;
    font-weight:200;
}

h2 {
    font-size: 50px;
    font-weight:200;
    width:80%;
}

h3 {
    font-size: 25px;
    font-weight:200;
    width:80%;
}

h4 {
    font-size: 20px;
    font-weight:200;
    width:80%;
}

p {
    font-size: 20px;
    line-height: 1.5;
    font-weight:200;
    width:80%;
}

ul li, ol li {
    font-size: 25px;
    line-height: 1.5;
    font-weight:200;
}

/* ------------------------------------------------
-------------------------- Nav -----------
----------------------------------------------------*/

header nav ul{
    padding-top: 72px;
    margin: auto;
}

/*takes out bullet points*/

header nav ul > li {
    display: inline-block;
    margin: 0 25px;
}

/*lines up nav text*/

a:link {
  color:#55595D;
  text-decoration: none;}
a:visited {
  color:#55595D;
  text-decoration: none;}
a:hover{
  color: black;
  text-decoration: underline;}

.alignright {
  display:inline-block;
}

.logo {
  float:left;
  padding-right:500px;
  padding-top:25px;
  padding-bottom:3%;
}

.top-bar {
  background-color: white;
  display: inline-block;
}


  /*------media queries--need top padding (not working), need to make arrows smaller (replace existing arrows with smaller image)-------*/


  /*mobiles*/

  @media (max-width:400px) {
  .logo {
          float: none !important;
          padding-right:25%!important;

      }

  header nav ul > li {
      display: block!important;
      padding:10%!important;
      margin:0!important;
  }

  }


  /*tablets--done*/

  @media (max-width: 767px) {
  .logo {
          float: none !important;
  		width: auto!important;
      }

  }

/* ------------------------------------------------
-------------------------- Hero -----------
----------------------------------------------------*/
.down-arrow {
  padding-top:20px
}

.hero-panel {
  background-image: url('images/wireframe-hero.png');
  background-size: cover;
  height: 700px;
  background-attachment: fixed;
  padding-top:10px;
  margin:auto;
}

.welcome-text-intro {
  font-weight:200;
  line-height:1.5;
  padding-top:1px;
  margin:auto;
}

.welcome-text-body {
  font-weight:200;
  line-height:1.5;
  padding-top:1px;
  margin:auto;
}

.welcome-text-bottom {
  font-weight:200;
  line-height:1.5;
  padding-top:40px;
  margin:auto;
}

/*------media queries--need to make arrows smaller (replace existing arrows with smaller image)-------*/


/*mobiles*/

@media (max-width:400px) {
.welcome-text-intro {
        font-size: 30px !important;
    }
.welcome-text-body {
        font-size:20px !important;
        margin:5% !important;
        }
.welcome-text-bottom {
        font-size:20px !important;
        margin:5% !important;
}
}

/*tablets*/

@media (max-width: 767px) {
.welcome-text-intro {
        font-size: 30px !important;
    }
.welcome-text-body {
        font-size:25px !important;
    }
.welcome-text-bottom {
        font-size:25px !important;
    }

}

/* ------------------------------------------------
-------------------------- Case Study on Homepage -----------
----------------------------------------------------*/


.case-study{
  background-color: #FCF5ED;
  background-size: cover;
  height:700px;
}

.den-shortdesc{
  font-size:30px;
  font-weight:200;
  float:left;
   width: 400px;
   height: 100px;
   padding-top: 200px;
   margin-left:120px;
   position:absolute;
}

.den-title{
  font-family:nunito;
  float:left;
  margin-left:250px;
  padding-top:100px;
  position:absolute;
}

.half-macbook{
  margin-left:600px;
  width:1000px;
  padding-top:50px
}

.horizontal-arrow {
  float:left;
    padding-top: 375px;
   margin-left:425px;
  position:absolute;
}

.project-link {
   font-size:25px;
   font-weight:200;
   float:left;
   padding-top: 375px;
   margin-left:220px;
   position:absolute;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {

.case-study{
  height:600px;
}

.half-macbook {
  width:100%!important;
  padding-top:95%!important;
}

.den-shortdesc{
  font-size:20px!important;
   width: 80%!important;
   padding-top: 35%!important;
   margin-left:8%!important;
}

.den-title{
  font-family:nunito;
  margin-left:30%!important;
  padding-top:8%!important;
}

.horizontal-arrow {
   padding-top:75%!important;
   margin-left:67%!important;
}

.project-link {
   font-size:25px!important;
   padding-top: 75%!important;
   margin-left:15%!important;
}
}

/*tablets*/

@media (max-width: 767px) {

.case-study{
  height:1000px;
}

.den-shortdesc{
  font-size:25px;
   width: 80%;
   padding-top: 25%;
   margin-left:8%;
   position:absolute;
}

.den-title{
  font-family:nunito;
  margin-left:40%;
  padding-top:8%;
}

.half-macbook{
  width:100%!important;
  padding-top:60%!important;
  margin:auto!important;
}

.horizontal-arrow {
   padding-top:45%;
   margin-left:60%;
  position:absolute;
}

.project-link {
   font-size:25px;
   padding-top: 45%;
   margin-left:30%;
   position:absolute;
}
}

/* ------------------------------------------------
-------------------------- Footer -----------
----------------------------------------------------*/
.footer-text{
  font-size:20px;
  font-weight:200;
  line-height:1.5 !important;
  margin:auto;
  padding-top:50px;
  width:800px;
}

footer ul{
    font-weight:200;
    padding-top: 25px;
    line-height:3.5 !important;
}

/*takes out bullet points*/
footer ul > li {
    display: inline-block;
    margin: 0 50px;
}

footer p {
  font-size:16px;
  font-weight:100;
  width:
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .footer-text{
    width:80%;

  }
}

  /*tablets*/

@media (max-width: 767px) {
    .footer-text{
    width:80%;
}
}


/* ------------------------------------------------
-------------------------- Case Study Hero-----------
----------------------------------------------------*/

.den-background-image{
  background-image: url('images/den-project-background.png');
  width:100%;
}

.den-hero {
  background:#FCF5ED;
  padding-top:10px;
  position: relative;
  height:800px;
}

.den-project-links{
  font-size:20px;
  font-weight:200;
  padding-top: 1%;
  margin-right: 24px;
  margin-left:24px;
}

.top-project-links li {
    display: inline-block;
    padding: 0 10px;
}

.den-macbook-small{
padding-top:50px;
}

.den-hero p {
  padding-top:3%;
  width:80%;
  margin:auto;
  font-weight:200;

}

.den-hero a {
  color:  #F28E8E;
  margin:auto;
  font-size:25px;
  font-weight:300;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .den-macbook-small {
    width: 80%;
    padding-top:30%;
  }

}

  /*tablets*/

@media (max-width: 767px) {
 .den-macbook-small {
    width: 80%;
  }

}

/* ------------------------------------------------
-------------------------- Roles, Deliverables, Tools-----------
----------------------------------------------------*/
.role-deliver-tool li {
  display: inline-block;
  width: 80%;
  padding: 20px 0;
  margin: 0;
  list-style: none;
}

.border-section {
  border-left-style:solid;
  border-left-color:#22C3C9;
  border-right-style:solid;
  border-right-color:#22C3C9;
  padding-top:20px;
  margin-left:5%;
  margin-right:5%;
}

.col h3 {
  padding-top:30px
}

.role-section {
  padding-top:40px
}


.tools-section {
  padding-top:40px;
}

/*media queries*/

/*mobiles*/

@media (max-width:500px) {
  .col li {
    width:80%;
  }

  .row {
    display:block;
    margin:5%;
  }

  .border-section{
    border:none;
    padding-top: 0%;
    border-bottom-style:solid;
    border-bottom-color:#22c3c9;
  }

  .role-section{
    border-bottom-style:solid;
    border-bottom-color:#22c3c9;
  }
}

  /*tablets*/

@media (max-width: 767px) {

.col li {width:80%;}

.border-section li {font-size:20px}
.role-section li {font-size:20px}
.tools-section li {font-size:20px}


}

/* ------------------------------------------------
-------------------------- Overview-----------
----------------------------------------------------*/
..book-icon{
  margin:0;
  padding-top:30px;
  padding-bottom:30px;
}

.overview{
  background:#FCF5ED;
  padding-top:50px;
  position: relative;
  height:500px;
  font-weight:200;
}

.overview h3 {
  font-weight:200;
  padding-bottom:20px;
  margin:auto;
  width:80%;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
}

.overview p {
  font-size:20px;
  font-weight:200;
  line-height:1.5;
  margin:auto;
  padding-top:5%;
  width:80%;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {

}

  /*tablets*/

@media (max-width: 767px) {
    .overview{
    height:670px;
  }
}

/* ------------------------------------------------
-------------------------- Problem Solution-----------
----------------------------------------------------*/

.prob-sol {
  padding-bottom:50px;
}

.problem{
padding-top:50px;

}

.problem h3 {
  padding-top:20px;
  padding-bottom:20px;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  margin:auto;
  width:80%;
}

.problem p {
  padding-top:20px;
  padding-bottom:50px;
  margin:auto;
}

.macbook-login{
  padding-top:25%;
}

.solution {
  padding-top:30%;
}

.solution-icon {}

.solution h3 {
  padding-top:20px;
  padding-bottom:20px;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  width:80%;
  margin-left:30%;
  margin:auto;
}

.solution p {
  padding-top:20px;
  padding-bottom:50px;
  width:100% !important;
  padding-bottom:50px;
  margin:auto;
}

.iphone-dash{
  padding-top:100px;
  padding-bottom:50px
}

.pink-box p {
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  border-top-style: solid;
  border-top-color: #F28E8E;
  padding-top:5%;
  margin:auto;
  padding-bottom:5%;

}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {

  .macbook-login{
    padding-top:1%;
    width:100%;
  }
.problem p {
  font-size: 20px;
}
.solution p {
  font-size: 20px;
}

}

/* ------------------------------------------------
-------------------------- User Research-----------
----------------------------------------------------*/

.user-research {
  background:#FCF5ED;
  padding-top:30px;
  position: relative;
  min-height:1900px;
  font-weight:200;
}

.user-research h3 {
  font-weight:200;
  padding-bottom:20px;
  margin:auto;
  width:80%;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
}

.user-research p {
  margin:auto;
  padding-top:20px;
  padding-bottom:20px;
  width:80%;
}

.user-research li {
  text-align:left;
  margin-left:40px;
  font-size:20px;
}

.survey-1{
  margin-right:60px;
  padding-top:30px;
}

.survey-2{
  margin-left:60px;
  padding-top:30px;
  margin:auto;
}

.what-discovered {
  padding-top:50px;
}

.what-discovered {
  padding-top:50px;
}

.what-discovered h3 {
  margin:auto;
  width:80%;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
  padding-bottom:10px;
}

.what-discovered p {
  line-height:1.5;
  margin:auto;
  padding-top:20px;
  width:80%;
}

.what-discovered a {
  color:  #F28E8E;
  font-weight:300;
  font-size:25px;
  margin:auto;
  line-height:100px;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .user-research {
  height:3250px !important;
  }

  .user-research p {
    font-size:20px;
  }

  .what-discovered p {
    font-size:20px;
  }
}

  /*tablets*/

@media (max-width: 767px) {
    .user-research p {
    font-size:20px;
  }

  .what-discovered p {
    font-size:20px;
  }
}


/* ------------------------------------------------
-------------------------- User Personas-----------
----------------------------------------------------*/

.user-personas {
  background:#FBFBFB;
  padding-top:30px;
  position: relative;
  min-height:1500px;
}

.user-personas h3{
  padding-bottom:20px;
  margin:auto;
  width:80%;
  border-bottom-style: solid;
  border-bottom-color:#F28E8E;
  padding-top:30px;
}

.user-personas p {
  font-weight:200;
  line-height:1.5;
  margin:auto;
  padding-top:20px;
  width:80%;
}

.robert {
  margin:auto;
  padding-top:10%;

}

.melanie {
  margin:auto;
  padding-top:10%;
}

.alison {
  margin:auto;
  padding-top:10%;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .user-personas {
    height:3350px;
  }
  .user-personas p {
    font-size:20px;
  }
}

  /*tablets*/

@media (max-width: 767px) {
    .user-personas p {
    font-size:20px;
  }

}

/* ------------------------------------------------
-------------------------- Competitive Analysis-----------
----------------------------------------------------*/

.competitive-analysis {
  padding-top:30px;
  position: relative;
}

.competitive-analysis h3 {
  font-weight:200;
  padding-bottom:20px;
  margin:auto;
  width:80%;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
}

.competitive-analysis p {
  font-size:20px;
  font-weight:200;
  line-height:1.5;
  margin:auto;
  padding-top:20px;
  padding-bottom:50px;
  width:80%;
}

.google {
  padding-top:20px;

}

.dropbox {
  padding-top:50px;

}

.pinterest {
  padding-top:50px;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .google{width:70%}
  .dropbox{width:70%}
  .pinterest{width:70%}
}

  /*tablets*/

@media (max-width: 767px) {
  .google{width:70%}
  .dropbox{width:70%}
  .pinterest{width:70%}
}

/* ------------------------------------------------
-------------------------- User Stories-----------
----------------------------------------------------*/
.user-stories {
  padding-top:30px;
  position: relative;
  background:#FCF5ED;
  min-height:800px;
}

.user-stories h3 {
  padding-bottom:20px;
  margin:auto;
  width:80%;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
}

.user-stories p {
  font-size:20px;
  line-height:1.5;
  margin:auto;
  padding-top:20px;
  width:80%;
}

.user-stories a {
  color:  #F28E8E;
  font-weight:300;
  font-size:25px;
  margin:auto;
  line-height:150px;
}

.user-stories li {
  padding-top:5px;
  text-align:left;
  margin-left:175px;
  font-size:20px;
  margin:auto;
  width: 80%;
  line-height:1.5

}

.user-stories ul {
  padding-top:20px;
  margin:auto;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {}

  /*tablets*/

@media (max-width: 767px) {}

/* ------------------------------------------------
-------------------------- User Flows & Sitemap-----------
----------------------------------------------------*/
.flowmap {
  padding-bottom: 50px;
}

.flows-map {
  padding-top:30px;
  margin:auto;
}

.flows-map h3 {
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
  padding-bottom:20px;
  margin:auto;
  width:80%;
}

.flows-map p {
  line-height:1.5;
  margin:auto;
  padding-top:20px;
  padding-bottom:50px;
  width:80%;
}

.flow-1 {
  margin-right:20px;
  padding-top:30px;
  padding-bottom:50px;
}

.flow-2 {
  margin-right:20px;
  padding-top:30px;
  padding-bottom:50px;
}

.map {
  margin-right:20px;
  padding-top:30px;
  padding-bottom:50px;

}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .flows-map p {
    font-size:20px;
  }
}

  /*tablets*/

@media (max-width: 767px) {}

/* ------------------------------------------------
-------------------------- Identity, Brand Story & Logo-----------
----------------------------------------------------*/

.brand-story {
  background:#FCF5ED;
  max-height:2400px;
  padding-top:50px;
  padding-bottom:50px;
  position: relative;
}

.brand-story h3 {
  padding-bottom:20px;
  margin:auto;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
}


.moodboard {
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
  width:80%;
}

.logosketches {
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
  width:80%;
}

.black-logo{
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
}

.white-logo {
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
}

.color-logo {
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .black-logo{width:80%;}
  .white-logo{width:80%;}
  .color-logo{width:80%;}
}

  /*tablets*/

@media (max-width: 767px) {
}

/* ------------------------------------------------
-------------------------- Colors, Typeface & Style-----------
----------------------------------------------------*/



.colors-type-style {
  background:#FFFFFF;
  padding-top:50px;
  position: relative;
}

.colors-type-style h3 {
  padding-bottom:20px;
  margin:auto;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
}

.colors-type-style p {
  margin:auto;
  padding-top:30px;
  padding-bottom:50px;
}

.color-palette{
  margin-left:auto;
  margin-right:20px;
  padding-top:50px;
}

.typeface-1 {
  margin-right:5%;
  margin-left:5%;
  padding-top:80px;
  padding-bottom:100px;
}

.typeface-2{
  margin-left:5%;
  margin-right:5%;
  padding-top:80px;
  padding-bottom:100px;
}

/*media queries*/

/*mobiles*/

@media (max-width:1049px) {
  .color-palette{
    display:none;
}
.small-colors{
  margin:auto !important;
}

}

  /*tablets*/

@media (min-width: 1050px){
  .small-colors{
    display:none;
}
}
}

/* ------------------------------------------------
-------------------------- Sketches, Balsamiq Wireframes & User Testing-----------
----------------------------------------------------*/

.wireframes-testing {
  background:#FBFBFB;
  margin:auto;
  padding-top:30px;
  position: relative;
}


.wireframes-testing h3 {
  padding-bottom:20px;
  margin:auto;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
}

.wireframes-testing h4 {
  padding-bottom:20px;
  margin:auto;
  font-size:30px !important;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
}

.wireframes-testing p {
  line-height:1.5;
  margin:auto;
  padding-top:20px;
  padding-bottom:50px;
}

.wf-sketch-1{
  margin:auto;
  padding-top:50px;
}

.wf-balsamiq-1{
  margin:auto;
  padding-top:50px;
}

.wf-complete-1{
  margin:auto;
  padding-top:50px;

}

.wf-sketch-2{
  margin:auto;
  padding-top:70px;
}

.wf-balsamiq-2{
  margin:auto;
  padding-top:70px;
}

.wf-complete-2{
  margin:auto;
  padding-top:70px;

}

/*media queries----background isn't working???*/

/*mobiles*/

@media (max-width:400px) {}

  /*tablets*/

@media (max-width: 767px) {}

/* ------------------------------------------------
-------------------------- High Fidelity Prototype-----------
----------------------------------------------------*/

.hifi-proto {
  padding-top:50px;
}

.hifi-proto h3 {
  padding-bottom:20px;
  margin:auto;
  border-bottom-style: solid;
  border-bottom-color: #F28E8E;
  padding-top:30px;
}

.hifi-proto p {
  margin:auto;
  padding-top:20px;
  padding-bottom:30px;
}

.hifi-mockup {
  width:80%

}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {}

  /*tablets*/

@media (max-width: 767px) {}

/* ------------------------------------------------
-------------------------- More User Testing-----------
----------------------------------------------------*/

.more-testing {
    padding-top:50px;
  }

.more-testing h3 {
    padding-bottom:20px;
    margin:auto;
    border-bottom-style: solid;
    border-bottom-color: #F28E8E;
    padding-top:30px;
    width:80%;
  }

.more-testing p {
    margin:auto;
    padding-top:20px;
    padding-bottom:50px;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {}

  /*tablets*/

@media (max-width: 767px) {}

/* ------------------------------------------------
-------------------------- Key Learnings-----------
----------------------------------------------------*/

.key-learnings {
  background:#FCF5ED;
    max-height:1200px;
    padding-top:50px;
    padding-bottom:50px;
  }

.key-learnings h3 {
    padding-bottom:20px;
    margin:auto;
    border-bottom-style: solid;
    border-bottom-color: #F28E8E;
    padding-top:30px;
  }

.key-learnings p {
    margin:auto;
    padding-top:20px;
}

.key-learnings a {
  color:  #F28E8E;
  font-weight:300;
  font-size:25px;
  margin:auto;
  line-height:100px;
}

.key-learnings ul>li {
  padding-top:5px;
  text-align:left;
  margin-left:175px;;
  font-size:20px;
}

.key-learnings ul {
  padding-top:20px;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {}

  /*tablets*/

@media (max-width: 767px) {}

/* ------------------------------------------------
-------------------------- Case Study Footer-----------
----------------------------------------------------*/

.wantmore-link{
margin:auto;
font-size:25px;
font-weight:300;
}

.footer a {
  padding-top:50px;
}

.footer-section {
  padding-top:50px;
}

footer p {
  margin:auto;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {}

  /*tablets*/

@media (max-width: 767px) {}

/* ------------------------------------------------
--------------------------Bio-----------
----------------------------------------------------*/


.main-section {
  width:80%;
  margin:auto;
}

.main-section h3 {
    padding-bottom:20px;
    margin:auto;
    padding-top:30px;
    border-bottom-style:solid;
    border-bottom-color:#22C3C9;
}

.main-section p {
  padding-top:20px;
  margin-left:20px;
  width:98%;
  text-align:left;
}

.middle-section p {
  padding-top:10px;
  text-align:left;
}

.bio-photo {
  margin:auto;
}

.footer-section-bio{
  background:#FCF5ED;
}

.footer-section-bio p {
  padding-bottom:1%;
}

.bottom-section p {
  margin-left:160px;
  padding-top:10px;
  padding-bottom:
  text-align:left;
}

.signature {
  padding-top:30px;
  padding-bottom:25px;
  margin:auto;

}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .main-section p {text-align:center;}
  .middle-section p {text-align:center;}
  .bottom-section p {text-align:center;}
  .bio-photo {
    width:90%
}
}

  /*tablets*/

@media (max-width: 767px) {
  .main-section p {text-align:center;}
  .middle-section p {text-align:center;}
  .bottom-section p {text-align:center;}
}

.resume {
  margin:auto;
}
