*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

html, body {
    overflow-x:hidden;
}

body { margin:0; }

html {
  font-size:10px;
}

body {
    color:#55595D;
    font-family: 'Lato', 'Raleway', 'Varela Round','Nunito' sans-serif;
    text-align: center;
}

h1 {
    font-size: 6.4rem;
    font-weight:200;
    margin:auto;
}

h2 {
    font-size: 5rem;
    font-weight:300;
    width:80%;
    margin:auto;
}

h3 {
    font-size: 2.5rem;
    font-weight:300;
    width:80%;
    margin:auto;
    border-bottom-style: solid;
    padding-bottom:20px;
    padding-top:30px;
}

h4 {
    font-size: 2rem;
    font-weight:300;
    width:80%;
    margin:auto;
}

h5 {
  font-weight:300;
  font-size:2.5rem;
  padding-top:5rem;
  margin: 0 auto;
  width:50%;
}

h6 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  width:50%!important;
  margin:auto!important;
}

p {
    font-size: 2rem;
    line-height: 1.5;
    font-weight:400;
    width:50%!important;
    margin:auto!important;
    text-align:left;
}

@media (max-width: 767px) {
  p {
    width:90%!important;
    font-size:1.8rem!important;
  }
}

a {
  font-size:2rem;
  line-height: 1.5;
  font-weight:300;
  color:#55595D;
}

ul li, ol li {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight:400;
    text-align: left;
}

/* ------------------------------------------------
-------------------------- Nav -----------
----------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
}

.fa {
  color: #fff;
  font-size: 3rem;
  display: block;
}

html {
  font-size: 10px;
}

nav {
  background-color:#FFF;
  display: flex;
  font-family: 'raleway', sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav img {
  width: 120%;
}

li.left {
  width: 21rem;
  padding: 1.5rem 0 1rem 1rem;
  display: block;
  float: right;
}

li {
  display: none;
}

ul {
  margin-bottom:0 !important;
}

.logo {
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.right a {
  color: #55595D;
  background-color: #FFF;
  display: block;
  font-size: 2rem;
  padding: 1.5rem;
  text-decoration: none;
}

.right a:hover {
  background-color: #B4F3E7;
  color: #55595D;
}

.fa {
  padding: 2.8rem;
  color: #55595D;
  float: right;
}

@media (min-width: 767px) {

  nav {
    width: 100%;
    display: flex;
  }

  .logo {
    max-width: 20rem;
  }

  .push {
    margin-left: auto;
  }

  ul.links {
    flex-direction: row;
    margin-right:3rem;
  }

  ul {
    margin-bottom:0!important;
  }

  li {
    display: block;
  }

  .right a {
    background-color: #FFF;
    color: #55595D;
    display: block;
    font-size: 2rem;
    padding: 6rem 1rem 3rem 1rem;
    text-decoration: none;
  }

  .right a:hover {
    background-color: #B4F3E7;
    padding: 6rem 1rem 3rem 1rem;
    color: #55595D;
  }

  .fa {
    display: none !important;
  }

.body {
    background-image: url("images/logo-mobile.png");
    background-repeat: no-repeat;
  }

}

.visible {
  display: block;
  transform: scale(1);
  transition: flex 0.3s ease-out;
  z-index: 1;
}

div.mobile {
  z-index: 2;
  position: absolute;
  display: block;
  width: 100%;
  text-decoration: none;
}

.navprojectlinks a:hover {
  color: #B4F3E7;
}


/* ------------------------------------------------
-------------------------- Hero -----------
----------------------------------------------------*/
.jumbotron {
    margin-bottom: 0px;
    background-image: url('images/pink-sunset.png');
    color:#55595D;
    min-height:100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .display-4 {
font-family: raleway, sans-serif;
font-size: 5rem;
font-weight:400;
padding-top:7rem;
margin: 0 auto;
color: #55595D;
}

.lead {
font-family: raleway, sans-serif;
font-size:3rem;
margin: 0 auto;
padding-top:3rem;
text-align:center;
width: 100% !important;
}


.follow {
font-family: raleway, sans-serif;
font-size:2.5rem;
margin: 0 auto;
padding-top:2rem
text-align: center;
width:100% !important;
}


.down-arrow {
padding-top:5rem;
padding-bottom:8rem;
}

/*media queries*/

/*mobiles*/

@media (min-width:300px) and (max-width: 575px) {
.jumbotron{
min-height:100%;
}

.display-4 {
font-size:4rem;
padding-top:5rem;
}

.lead {
font-size:3rem;
padding-top:2rem
}
  }

/* ------------------------------------------------
-------------------------- Case Study -----------
----------------------------------------------------*/

.den {
    background-color: #FCF5ED;
    min-height:100%;
}

.den-title{
  font-family:nunito;
  padding-left:3rem;
}

.den-shortdesc {
  font-weight:300;
}

.horizontal-arrow {
  padding-left:1rem;
}

.project-link {
   font-size:2.5rem;
}

.mq-macbook{
  margin: 0 auto;
  float:right;
  width:65rem;
  padding-top:15rem;
  padding-bottom: 10rem;
  margin-right:10rem;
}

/*mobiles*/

@media (min-width:300px) and (max-width: 575px) {
.row {
  margin:0rem!important;
  display:inherit;
}
h1.den-title{
  margin: 0rem!important;
}
.row .text-right{
  text-align:center!important;
}
  .den-shortdesc {
    float:inherit;
    display:inline-block;
    width:80% !important;
  }

  .den-title{
    font-family:nunito;
    padding-top:5rem;
    padding-right: 70px;
    background-color: #FCF5ED;
  }

.case-study-link{
width: 100%;
align-items: center;
  }

  .case-study-link a:hover {
   color: #22C3C9;
   text-decoration: none;
 }

  .case-study-link > a {
     font-size:2rem;
     text-decoration: none;
  }

  .mq-macbook{
    float:inherit;
    align-items: center;
    width:100%;
    padding-top:5rem;
    padding-bottom: 10rem;
  }
}
@media (min-width:576px) and (max-width: 767px) {
  .row .text-right{
    text-align: center!important;
  }

  .den-shortdesc {
    float:inherit;
    margin-top:0rem;
    display:inline-block;
  }
  .den-title{
    font-family:nunito;
  }

  .case-study-link{
  width: 100%;
  align-items: center;
    }

.case-study-link > a {
font-size:2rem;
text-decoration: none;
}

.case-study-link a:hover {
 color: #22C3C9;
 text-decoration: none;
}
}

  .mq-macbook{
    float:inherit;
    align-items: center;
    width:100%;
    padding-top:10rem;
    padding-bottom: 10rem;
  }
}
@media (min-width: 768px) and (max-width: 959px){
.den-shortdesc {
float:right;
margin-top:0;
}
.den-title{
font-family:nunito;
padding-left: 5rem;
}
.case-study-link{
width:100%;
float:right;
align-items: center;
}
.case-study-link > a {
font-size:2rem;
text-decoration: none;
}

.case-study-link a:hover {
 color: #22C3C9;
 text-decoration: none;
}
.mq-macbook{
float:right;
width: 65rem;
padding-top:10rem;
padding-bottom: 10rem;
margin-right:-30rem;
  }
}
@media (min-width: 960px) and (max-width: 1900px){

  .den-shortdesc {
    float:inherit;
    margin-top:-4rem;
    position: relative;
    display:inline-block;
    text-align: right !important;
  }
  .den-title{
    font-family:nunito;
    padding-left: 5rem;
  }
  .case-study-link{
  width:100%;
  float:right;
  align-items: center;
  }
  .case-study-link > a {
  font-size:2rem;
  text-decoration: none;
  }
  .case-study-link a:hover {
   color: #22C3C9;
   text-decoration: none;
  }

  .mq-macbook{
    float:inherit;
    width: 50rem;
    padding-top:10rem;
    padding-bottom: 10rem;
  }
}

/* ------------------------------------------------
-------------------------- Footer -----------
----------------------------------------------------*/

.footer a {
  padding-top:50px;
  text-decoration: none;
}

.footer a:hover {
 color: #22C3C9;
 text-decoration: none;
}

.footer h4:hover {
 color: #55595D;
 text-decoration: none;
}

.footer{
  background: white;
  align-items: center;
}

.footer h4 {
  padding-top: 5rem;
}

.footer ul{
        padding-top: 2rem;
    }

.footer ul > li {
      padding-top:2rem;
        display: inline-block;
        margin: 0 50px;
    }

.footer p {
      padding-top:2rem;
      padding-bottom: 0.5rem;
      font-size:1.7rem;
      text-align:center;
    }

@media (min-width:300px) and (max-width: 575px) {
.footer ul{
  display:inline-block;
  padding-top:1rem;
  font-size:1.8rem;
}

.footer ul > li {
    padding-top: 2rem;
    display: inline-block;
    margin: 0 10px !important;
  }
}

/* ------------------------------------------------
-------------------------- Case Study Hero-----------
----------------------------------------------------*/

.den-background-image{
  background-image: url('images/den-project-background.png');
  width:100%;
  display:block;
}

.den-mobile-logo {
  display:none;
}

.den-hero {
  background:#FCF5ED;
  padding-top:10px;
  position: relative;
  min-height:100%;
}

.den-macbook-small {
padding-top:5rem;
padding-bottom:5rem;
}

.den-hero p {
  text-align: center;
}

.den-hero a {
  color:  #ED7940;
  margin:auto;
  font-weight:500;
  line-height: 4;
}

.den-hero a:hover {
  color: #22C3C9;
  text-decoration: none;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .den-macbook-small {
    width: 80%;
}
.den-background-image {display: none;
}

.den-mobile-logo {
  display:block;
  margin:auto;
  width:150px;
  padding-top:3rem;
}
.den-background {
    background-color: #FCF5ED;
}
}

  /*tablets*/

@media (max-width: 767px) {
 .den-macbook-small {
    width: 80%;
  }
  .den-background-image {display: none;
  }

  .den-mobile-logo {
    display:block;
    margin:auto;
    width:150px;
    padding-top:3rem;
  }
  .den-background {
      background-color: #FCF5ED;
  }

.den-hero p {
  text-align:left;
  width:90% !important;
}

}

/* ------------------------------------------------
-------------------------- Roles, Deliverables, Tools-----------
----------------------------------------------------*/

.profile__head__main h5{
  padding-top:2rem !important;
  padding-bottom: 2rem !important;
  text-align:center !important;
  font-family:raleway, sans-serif !important;
  line-height: 1.5 !important;
}

.profile__body__main h6 {
  padding-top:2rem !important;
  padding-bottom:2rem!important;
  text-align:center !important;
  font-family:raleway, sans-serif !important;
  line-height: 1.5 !important;
  width:100% !important;
}

.profile__avatar__main {
  padding-top: 3rem;
}


/* ------------------------------------------------
-------------------------- Overview-----------
----------------------------------------------------*/
.book-icon{
  margin:0;
  padding-top:30px;
  padding-bottom:30px;
}

.overview{
  background:#FCF5ED;
  position: relative;
  min-height:100%;
  min-width:100%;
}

.overview h3 {
  border-bottom-color: #ED7940;
}

.overview p {
  padding-top:2rem;
  padding-bottom:5rem;
  text-align: center;
}

.profile__avatar__main{
  text-align: center;
}

@media (max-width:767px) {
  .overview p {
    text-align:left;
  }
}


/* ------------------------------------------------
-------------------------- Problem Solution-----------
----------------------------------------------------*/

.problem{
padding-top:50px;
}

.problem h3 {
  border-bottom-color: #0C7DC5;
}

.problem p {
  padding-top:20px;
}

.macbook-login{
  padding-top:50px;
  width: fit-content;
}

.solution {
  padding-top:50px;
}

.solution h3 {
  border-bottom-color: #6CA455;
}

.solution p {
  padding-top:20px;
}

.iphone-dash{
  padding-top:50px;
  padding-bottom:50px
}

.pink-box {
  min-height: 22rem;
}

.pink-box p {
  border-bottom-style: solid;
  border-bottom-color: #4F7C3A;
  border-top-style: solid;
  border-top-color: #4F7C3A;
  padding-top:5rem;
  padding-bottom:5rem;
  width: 80%!important;
  text-align: center;

}

/*media queries*/

/*mobiles*/

@media (max-width:450px) {

  .solution {
    padding-top:50px !important;
  }

  .macbook-login{
display:none;
  }
.problem p {
  width: 100% !important;
}
.solution p {
  text-align:left;
}
}

    /*tablets*/

@media (max-width: 767px) {

  .macbook-login{
display:none;
  }

  .solution {
   padding-top:400%;
  }

  .problem p {
    width: 90% !important;
  }
  .solution p {
    width: 90% !important;
    text-align:left;
  }

  .pink-box p{
    width:90%!important;
    text-align: left;
  }
  }

}

@media (min-width: 575px and max-width:767) {

}

/* ------------------------------------------------
-------------------------- User Research-----------
----------------------------------------------------*/

.user-research {
  background:#FCF5ED;
  padding-top:3rem;
  position: relative;
  min-height:100%;
}

.user-research h3 {
  padding-bottom:2rem;
  padding-top:3rem;
  border-bottom-style: solid;
  border-bottom-color: #ED7940;
}

.user-research p {
  padding-top:2rem;
  padding-bottom:5rem;
}

.user-research ul {
  margin-left:34rem;
}

.user-research li {
text-align:left;
font-size:1.8rem;
line-height:.5 !important;
padding-bottom:2rem;
list-style-image: url("./images/oval-bullet.png")!important;
list-style-position: inside;
display: list-item;
}

    .survey__charts-1 {
      margin: 0 auto;
      position: relative;
      width: 40vw;
      }
    .survey__charts-1 h3{
      padding:5rem 0rem 2rem 0rem;
      border:none;
      text-align: left;
      width:100%;
    }

      @media only screen and (max-width: 58em) {
        .survey__charts-1 {
          width: 80vw; }
          .user-research ul {
            margin:auto;
          }
        }

      @media only screen and (max-width: 38em) {
        .survey__charts-1 {
          width: 90vw; }
          .user-research ul {
            margin:auto;
          }
        }


          .survey__charts-2 {
            margin: 0 auto;
            position: relative;
            width: 40vw;
            }
          .survey__charts-2 h3{
            padding:10rem 0rem 2rem 0rem;
            border:none;
            text-align: left;
            width:80%;
          }

      @media (max-width: 530px) {
        .survey__charts-2 {
          display:none; } }

      @media only screen and (max-width: 58em) {
        .survey__charts-2 {
          width: 80vw; } }

      @media only screen and (max-width: 38em) {
        .survey__charts-2 {
          width: 90vw; } }

          .survey__charts-3 {
            margin: 0 auto;
            position: relative;
            width: 40vw;
            }
          .survey__charts-3 h3{
            padding:7rem 0rem 2rem 0rem;
            border:none;
            text-align: left;
            width:80%;
          }

      @media only screen and (max-width: 58em) {
        .survey__charts-3 {
          width: 80vw; } }

      @media only screen and (max-width: 38em) {
        .survey__charts-3 {
          width: 90vw; } }

.what-discovered {
  background:#FCF5ED;
  padding-top:3rem;
  position: relative;
  min-height:100%;
}

.what-discovered h3 {
  border-bottom-color: #0C7DC5;
}

.what-discovered p {
  padding-top:20px;
}

.what-discovered a {
  color:  #ED7940;
  font-weight:600;
  font-size:2rem;
  margin:auto;
  line-height:100px;
  text-decoration: none;
}

/*media queries*/

@media (max-width:400px) {

  .user-research p {
    font-size:20px;
  }

  .what-discovered p {
    font-size:20px;
  }

  .user-research li {
    line-height:1.5 !important;
    margin-right:5rem;
  }
}

  /*tablets*/

@media (max-width: 767px) {

    .user-research p {
    font-size:20px;
  }

  .what-discovered p {
    font-size:20px;
  }

    .user-research li {
    line-height:1.5 !important;
    width:90%!important;
    margin:auto;
  }
}

@media (max-width: 1215px) {
      .user-research li {
    line-height:1.5 !important;
  }
}

/* ------------------------------------------------
-------------------------- User Personas-----------*/
.user-personas {
  padding-top:30px;
  position: relative;
  min-height:100%;
}

.user-personas h3{
  border-bottom-color:#6CA455;
}

.user-personas p {
  padding-top:2rem;
  padding-bottom: 3rem;
  text-align: center;
}

@media (max width 767px) {
  .user-personas p {
    text-align: left!important;
  }
}


/* ------------------------------------------------------------ *\
	Profiles
\* ------------------------------------------------------------ */

.profiles {
background:#FFF;
padding: 5rem;
margin: 0 auto;
font-family:lato,sans-serif;
text-align: left;
}
.profiles--three {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
width: 100%;
}
.profiles--three .profile {
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
 }

.profiles .profile + .profile:before {
content: '';
width: .2rem;
position: absolute;
background: #93CA79;
top: 1rem;
bottom: 1rem;
left: 0;
right:0;
}


.profile .profile__head p {
font-size: 1.6rem;
font-family:lato,sans-serif;
}
.profile .profile__body p {
font-size: 1.6rem;
font-family:lato,sans-serif;
}

.profile .profile__foot p {
  color: #55595D;
  line-height: 1.25;
  margin:5px;
}

@media (max-width: 767px) {
	.profiles--three { display: block; padding: 25px 20px 0; }
	.profiles .profile + .profile:before { display: none; }
    .profile .profile__avatar { margin-bottom: 20px; }
}

@media (max-width: 767px) {
.profile + .profile {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 2px solid #93CA79;
  }

.profiles .profiles--three {
  padding:0px!important;
  margin:0px!important;
}

.profile {
  padding:0 5px!important;
}

}

/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile {
  position: relative;
  padding: 0 57px;
  color: #55595D;
  width: auto!important;
 }

.profile .profile__avatar {
  max-width: 174px;
  margin: 0 auto 8px;
padding-top: 3rem;
 }
.profile .profile__avatar img {
  width: 100%;
  height: auto;
}

.profile .profile__name {
font-size: 3rem;
font-weight: 300;
padding-right:1.5rem;
margin-bottom: 2rem;
line-height: 1;
width: auto!important;
}

.profile .profile__head {
 margin-bottom: 2rem;
 text-align:left;
 width: auto!important;
 }

 .profile .profile__head p {
  margin-bottom: 2rem;
  text-align:left;
  width: auto!important;
  }

.profile .profile__body p {
  line-height: 1.9;
  letter-spacing: -0.029em;
  margin-bottom: 0;
  margin:5px;
  width: auto!important;
}

.profile .profile__body h6 {
font-family:lato, sans-serif;
font-size: 2rem;
letter-spacing: -0.034em;
margin-bottom: 2rem;
line-height: 1;
text-align:left;
width:auto!important;
}
.profile .profile__body p + h6 {
 margin-top: 2rem; }

.profile .profile__foot {
color: #6f6f6f;
font-size: 22px;
padding-top: 3rem;
}
.profile .profile__foot p {
letter-spacing: -0.025em !important;
font-weight: 700;
line-height: 1.2;
margin:5px;
 width: auto!important;
 }
}

@media (max-width: 767px) {
	.profile { padding: 0; }
	.profile + .profile {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 2px solid #93CA79
  }
}

/*  Section Profiles  */

.section--profiles { padding: 74px 0 10px; }

@media (max-width: 767px) {
	.section--profiles {
    padding: 10px 0 15px;
    background-color: transparent;
  }
}


/* ------------------------------------------------
-------------------------- Competitive Analysis-----------
----------------------------------------------------*/

.profile__avatar_comp {
  width:20%;
  padding-bottom:2rem;
}

.competitive-analysis {
  padding-top:30px;
  position: relative;
}

.competitive-analysis h3 {
  border-bottom-color: #4F7C3A;
}

.competitive-analysis h6 {
  padding-top: 2rem;
  text-align: center;
}

.competitive-analysis p {
  padding-top:20px;
  padding-bottom:50px;
}

.google {
  padding-top:3rem;
}

.dropbox {
  padding-top:3rem;

}

.pinterest {
  padding-top:3rem;
}

@media (max-width: 767px) {
    .profile .profile__avatar_comp { margin-bottom: 20px; }
    .competitive-analysis h6 {
      font-size: 1.8rem!important;
      text-align: left;
      width:90%!important;
    }
}

@media (max-width:400px) {
  .google{width:250px}
  .dropbox{width:250px}
  .pinterest{width:250px}
}

  /*tablets*/

@media (max-width: 767px) {
  .google{width:250px}
  .dropbox{width:250px}
  .pinterest{width:250px}
}

/* ------------------------------------------------
-------------------------- User Stories-----------
----------------------------------------------------*/
.user-stories {
  padding-top:30px;
  position: relative;
  background:#FCF5ED;
  min-height:800px;
}

.user-stories h3 {
  border-bottom-color: #93CA79;
}

.user-stories p {
  padding-top:20px;
}

.user-stories a {
  color:  #ED7940;
  font-weight:600;
  line-height:150px;
  font-size: 2rem;
  text-decoration: none;
}

.user-stories li {
  padding-top:5px;
  text-align:left;
  margin:auto;
  font-size:20px;
  width: 50%;
}

.user-stories ul {
  padding-top:20px;
}

/* ------------------------------------------------
-------------------------- User Flows & Sitemap-----------
----------------------------------------------------*/
.flows-map .next-arrow {
  padding-bottom:7rem;
}

.flowmap {
  padding-bottom: 50px;
}

.flows-map {
  padding-top:30px;
  margin:auto;
}

.flows-map h3 {
  border-bottom-color: #ED7940;
}

.flows-map p {
  padding-top:20px;
  padding-bottom:50px;
}

.flow-1 {
  margin-right:20px;
  padding-top:30px;
  padding-bottom:50px;
}

.flow-2 {
  margin-right:20px;
  padding-top:30px;
  padding-bottom:50px;
}

.map {
  margin-right:20px;
  padding-top:30px;
  padding-bottom:50px;

}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .flows-map p {
    font-size:20px;
  }
  .next-arrow {
    transform: rotate(90deg);
    padding:0px!important;
  }
}

  /*tablets*/

@media (max-width: 458px) {
  .next-arrow {
    transform: rotate(90deg);
  }
}

@media (min-width: 422px and max-width:457px) {
  .next-arrow {
    visibility: hidden;
  }
}

/* ------------------------------------------------
-------------------------- Identity, Brand Story & Logo-----------
----------------------------------------------------*/

.brand-story {
  background:#FCF5ED;
  max-height:2400px;
  padding-top:50px;
  padding-bottom:50px;
  position: relative;
}

.brand-story h3 {
  border-bottom-color: #0C7DC5;
}



.moodboard {
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
  width:70%;
}

.logosketches {
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
  width:80%;
}

.black-logo{
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
}

.white-logo {
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
}

.color-logo {
  margin-left:auto;
  margin-right:20px;
  padding-top:30px;
}

/*media queries*/

/*mobiles*/

@media (max-width:400px) {
  .black-logo{width:80%;}
  .white-logo{width:80%;}
  .color-logo{width:80%;}
}

/* ------------------------------------------------
-------------------------- Colors, Typeface & Style-----------
----------------------------------------------------*/



.colors-type-style {
  background:#FFFFFF;
  padding-top:50px;
  position: relative;
}

.colors-type-style h3 {
  border-bottom-color: #6CA455;
}

.colors-type-style p {
  padding-top:30px;
  padding-bottom:50px;
}

.color-palette{
  margin-left:auto;
  margin-right:20px;
  padding-top:50px;
}

.typeface-1 {
  margin-right:5%;
  margin-left:5%;
  padding-top:80px;
  padding-bottom:100px;
}

.typeface-2{
  margin-left:5%;
  margin-right:5%;
  padding-top:80px;
  padding-bottom:100px;
}

/*media queries*/

/*mobiles*/

@media (max-width:1049px) {
  .color-palette{
    display:none;
}
.small-colors{
  margin:auto !important;
}

}

  /*tablets*/

@media (min-width: 1050px){
  .small-colors{
    display:none;
}
}


/* ------------------------------------------------
-------------------------- Sketches, Balsamiq Wireframes & User Testing-----------
----------------------------------------------------*/

.wireframes-testing {
  background:#FBFBFB;
  margin:auto;
  padding-top:30px;
  position: relative;
}


.wireframes-testing h3 {
  border-bottom-color: #4F7C3A;
}

.wireframes-testing h4 {
  padding-bottom:20px;
  font-size:30px !important;
  border-bottom-style: solid;
  border-bottom-color: #ED7940;
  padding-top:30px;
}

.wireframes-testing p {
  padding-top:20px;
  padding-bottom:50px;
}

.wf-sketch-1{
  margin:auto;
  padding-top:50px;
}

.wf-balsamiq-1{
  margin:auto;
  padding-top:50px;
}

.wf-complete-1{
  margin:auto;
  padding-top:50px;

}

.wf-sketch-2{
  margin:auto;
  padding-top:70px;
}

.wf-balsamiq-2{
  margin:auto;
  padding-top:70px;
}

.wf-complete-2{
  margin:auto;
  padding-top:70px;

}

.next-arrow {
  padding-top:6rem;
  padding-left:1rem;
  padding-right:1rem;

}

/* ------------------------------------------------
-------------------------- High Fidelity Prototype-----------
----------------------------------------------------*/

.hifi-proto {
  padding-top:50px;
}

.hifi-proto h3 {
  border-bottom-color: #0C7DC5;
}

.hifi-proto p {
  padding-top:20px;
  padding-bottom:30px;
}

.hifi-mockup {
  width:70%
}

.iteration-image {
  padding-bottom:5rem;
  width:300px;
}

.it-next-arrow {
  margin: auto;
  padding:8rem
}

@media (max-width:807px) {
  .it-next-arrow {
    transform: rotate(90deg);
  }
}

  /* ------------------------------------------------
  -------------------------- More User Testing-----------
  ----------------------------------------------------*/

  .more-testing {
      padding-top:50px;
    }

  .more-testing h3 {
      border-bottom-color: #6CA455;
    }

  .more-testing p {
      padding-top:20px;
      padding-bottom:50px;
  }

  /* ------------------------------------------------
  -------------------------- Key Learnings-----------
  ----------------------------------------------------*/

  .key-learnings {
    background:#FCF5ED;
    min-height:100%;
      padding-top:50px;
      padding-bottom:50px;
    }

  .key-learnings h3 {
      border-bottom-color: #4F7C3A;
    }

  .key-learnings p {
      padding-top:20px;
  }

.key-learnings a {
  color:  #ED7940;
  font-weight:600;
  text-decoration: none;
  line-height: 4;
}

.key-learnings ul>li {
  padding-top:5px;
  margin-left:175px;;
  font-size:20px;
}

.key-learnings ul {
  padding-top:20px;
}

  /* ------------------------------------------------
  --------------------------Bio-----------
  ----------------------------------------------------*/

  .bio-body {
  line-height:2.5;
  padding-top:50px;
  padding-bottom:50px;
  margin:auto;
  }

  .bio-body h3 {
      border-bottom-color:#22C3C9;
  }

  .bio-body p {
    padding-top:20px;
    text-align: justify;
    margin: 0;
  }

  .bio-photo {
    background-position: center center;
background-size: cover;
background-attachment: fixed;
opacity: 0.8;
  }

  .bio-footer {
    background:#FCF5ED;
  }

  .footer-section-bio p {
    padding-bottom:1%;
    padding-top:3rem;
  }

  .signature {
    padding-top:30px;
    padding-bottom:25px;
    margin:auto;
  }

  .footer-text {
    margin: 0 auto;
    width: 50%!important;
    padding-top:2rem;
  }


@media (max-width: 450px) {

.bio-body h3 {
  font-size: 2rem!important;
}

  .bio-photo {
    padding-top:5rem;
    width:90%!important;
  }

  @media (max-width: 767px) {

  .bio-body h3 {
    font-size: 2rem!important;
  }

    .bio-photo {
      padding-top:5rem;
      width:90%!important;
    }
  }
